---
import Layout from '../layouts/Layout.astro';
import AutoCaptionImage from '../components/AutoCaptionImage.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<AutoCaptionImage src="/images/discoball.avif" width={3087} height={4631}></AutoCaptionImage>
	</main>
</Layout>