---
import Layout from '../layouts/Layout.astro';
import ImageAutoCaption from '../components/ImageAutoCaption.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<ImageAutoCaption src="/images/discoball.avif" width={3087} height={4631}></AutoCaptionImage>
	</main>
</Layout>